.idea/$PROJECT_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/intellij-javadocs-4.0.1.xml
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/setting.xml
.idea/study_space1.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sonarlint/issuestore/index.pb
basic/basic.iml
